###dirs
.vs/
bin/
bin-int/

#profiles
SandBox/SyclightProfile-Runtime.json
SandBox/SyclightProfile-Shutdown.json
SandBox/SyclightProfile-Startup.json

#spdlog-v1 dirs 
Syclight/vendor/spdlog-v1.x/bench/
Syclight/vendor/spdlog-v1.x/cmake/
Syclight/vendor/spdlog-v1.x/example/
Syclight/vendor/spdlog-v1.x/logos/
Syclight/vendor/spdlog-v1.x/scripts/
Syclight/vendor/spdlog-v1.x/src/
Syclight/vendor/spdlog-v1.x/tests/

###files
*.user
*.vcxproj
*.sln
*.vcxproj.filters

#spdlog-v1 files 
Syclight/vendor/spdlog-v1.x/.clang-format
Syclight/vendor/spdlog-v1.x/.clang-tidy
Syclight/vendor/spdlog-v1.x/.gitattributes
Syclight/vendor/spdlog-v1.x/.gitignore
Syclight/vendor/spdlog-v1.x/.travis.yml
Syclight/vendor/spdlog-v1.x/appveyor.yml
Syclight/vendor/spdlog-v1.x/CMakeLists.txt
Syclight/vendor/spdlog-v1.x/INSTALL
